-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

#selected_aspects_links.section
  .title
    .icons-question
    %h5.title-header
      = t('aspects.index.links')
  #selected_aspects_links_content
    .content
      %ul
      -for i in 0..@all_user_aspects.count()
        -if(@all_user_aspects[i]!=nil)
          -if(@aspect_ids.include?(@all_user_aspects[i].to_s))
            %ul{:id => "selected_aspects_links"+@all_user_aspects[i].to_s}
              =@selected_aspect_names[i]
              -if(@links[@all_user_aspects[i]]!=nil)
                -for link in @links[@all_user_aspects[i]]
                  %li
                    =link_to(link,link)
          -else
            %ul{:id => "selected_aspects_links"+@all_user_aspects[i].to_s,:style=>'display:none'}
              =@selected_aspect_names[i]
              -if(@links[@all_user_aspects[i]]!=nil)
                -for link in @links[@all_user_aspects[i]]
                  %li
                    =link_to(link,link)

